#! /bin/bash

# Installing uv if necessary
if [[ -z "$(which uv)" ]]; then
    wget -qO- https://astral.sh/uv/install.sh | sh
    source $HOME/.bashrc
fi

# Add scripts to path
if [[ -z "$DIR" ]]; then
    DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
fi
SCRIPTS_DIR="$DIR/scripts"
if [[ ":$PATH:" != *":$SCRIPTS_DIR:"* ]]; then
    export PATH="$SCRIPTS_DIR:$PATH"
fi
